   .rgb-color {
            background-color: rgb(0, 128, 255);
            color: white;
            padding: 20px;
        }

        .hex-color {
            background-color: #FF6600;
            color: white;
            padding: 20px;
        }