* {
    font-family: sans-serif;
}

.input {
    color: rgb(83, 82, 82);
    border: 0.5px rgb(175, 170, 170) solid;
    width: 200px;
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0px 5px 60px 0px;
    outline: none;
}

.input::placeholder {
    font-size: 15px;
}

#submit {
    width: 212px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(97, 172, 248);
    color: white;
}
#input1 {
    width: 377px;
    height: 29px;
    background-color: #F2F2F2;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 7px;
}

span {
    color: #53575b;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
}

#submit1 {
    width: 377px;
    height: 36px;
    border: none;
    border-radius: 60px;
    background-color: #0096e5;
    color: white;
}
#phone {
    font-size: 0.7rem;
    text-align: center;
    color: #0096e5;
    cursor: pointer;
    padding-bottom: 7px;
    padding-top: 7px;
}